@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
  --primary: #105C49;
  --secondary: #1DA483;
  --success: #f2ad5f;
  --danger: #ec8717;
}

h1,h2,h3,h4,h5{
  margin-bottom: 0;
}

.bebas{
  font-family: 'Bebas Neue', sans-serif;
}

.hammer{
  font-family: 'Hammersmith One', sans-serif;;
}

/* --navbar-- */
.navbar-toggler-icon{
  background-image: url("./images/toggler.svg");
}

.navbar-toggler{
  border: 2px solid var(--success) ;
}

.navbar-collapse{
  flex-grow: 0;
}

.navlist h5{
  color: var(--success);
  display: flex;
}

.navlist a:last-child h5{
  border-bottom: 1px solid var(--success);
}

/* --primo-- */

.totalwindow{
  height: 42vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.present{
  z-index: 2;
  height: 40vh;
  left: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.back{
  height: 35vh;
  right: 1%;
}

.ground{
  background-image: url("./images/accadem.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;

  opacity: 0.8;
}

/* secondo */

.secondwind{
  height: 42vh;
  display: flex;
  align-items: center;
}

.secondimg{
  left: 0%;
  height: 65%;
  z-index: 2;
}

.secondtext{
  right: 4%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.perksimg{
  background-image: url("./images/perks.jpg");
  background-size: cover;
  background-position: center center;
  
  height: 100%;
}

.iconcircle{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5em; 
  padding-top: 2em; 
  padding-bottom: 2em;
}

.circle{
  position: absolute;

  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--success);
}

.textcircle{
  height: 2em;
  padding-top: 1.5em;
  padding-bottom: 2em
}

/* --terzo-- */

.leftcut{
  clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 100% 100%);
}

.leftcut > h5{
  position: relative;
  right: -10px;
}

.rightcut{
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  text-align: center;
}

.rightcut > h5{
  position: relative;
  left: -10px;
}

.quadro{
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sfondo{
  background-size: cover;
  background-position: center center;

  opacity: 0.25;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* --Quarto-- */

.photo{
  background-size: cover;
  background-position: center center;

  height: 100%;
  width: 100%;
}

.d-md-none .carousel-indicators{
  margin-bottom: 0;
}

.carousel-control-prev-icon {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f2ad5f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f2ad5f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* quinto */

.backo{
  background-image: url("./images/sign.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.dealwindow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.digitwindow{
  background-color: var(--success);
  height: 8vh;
  overflow-y: hidden;
}

.digit{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary);
}

/* Prof */

.preprof{
  background-image: url("https://i.pinimg.com/236x/cd/c0/52/cdc0522d0f487fb464dcfa07fbca6bfa.jpg");
  background-position: center 30%;
  background-size: cover;
  opacity: 0.45;
  width: 100%;
  height: 100%;
}

.professor{
  background-size: cover;
  height: 20vh;
  width: 100%;
}

.exagon{
  font-size: 1em;
  height: 7vh;
  width: 7vh;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 2;
  top: 16vh;
}

.linea{
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  bottom: 3%;
}

/* Perks */

.dietro{
  background-image: url("./images/perksimg.jpg");
  background-size: cover;
  background-position: center 20%;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

/* STEM/Tech */

.courseimg{
  position: absolute;
  background-position: center center;
  background-size: cover;
  opacity: 0.7;

  width: 52%;
  height: 100%;
}

.taglio{
  position: absolute;
  right: 0;

  clip-path: polygon(0% 101%, 25% 0%, 100% 0%, 75% 101%);
  width: 70%;
  height: 100%;
}

.circo{
  border-radius: 50%;
}

.retta{
  height: 100%;
  width: 3px;
  background-color: var(--danger);
}

.triangle{
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  left: -3%; 
  width: 12%; 
  height: 3em;
}

/* Signin */

.basic{
  background-position: center center;
  background-size: cover;

  height: 100%;
  width: 100%;
}

.cupola{
  clip-path: ellipse(49% 100% at 50% 100%);
}

/* gallery images */

.galleria{
  background-image: url("./images/basic.jpg");
  background-position: center center;
  background-size: cover;

  opacity: 0.35;
  height: 100%;
  width: 100%;
}

.list {
  position: relative;
  width: 100%;
}

.list > div {
  position: absolute;
  padding: 12px;
}

.list > div > div {
  background-size: cover;
  background-position: center center;
  height: 100%;
}

/* footer */

.contacts{
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}


@media only screen and (max-width: 400px){
  .quadro{
    height: 30vh;
  }
}

@media only screen and (min-width: 800px) {

  /* --navbar-- */
  .navlist h5{
    justify-content: center;
    align-items: center;
    padding: 0 1em;

    border-right: 2px solid var(--success);
  }

  .navlist a:last-child h5{
    border-right: none;
    border-bottom: none;
  }

  /* --primo-- */

  .totalwindow{
    height: 60vh;
  }
  
  .present{
    z-index: 2;
    height: 40vh;
    left: 5%;
  }

  .back{
    height: 50vh;
    right: 5%;
  }

  /* --secondo-- */
  .secondwind{
    height: 60vh;
  }

  .secondimg{
    left: 5%;
    height: 65%;
    z-index: 2;
  }

  .secondtext{
    right: 5%;
    height: 80%;
  }

  /*--terzo-- */

  .quadro{
    height: 20vh;
  }
  
  /* --quinto-- */
  .dealwindow{
    height: 70vh;
  }

  .digitwindow{
    height: 20vh;
  }

  .digit{
    font-size: 1.8em;
    border: 3px solid var(--primary);
  }

  /* --prof-- */

  .professor{
    height: 30vh;
  }

  .exagon{
    font-size: 1.8em;
    height: 12vh;
    width: 12vh;
    top: 24vh;
  }

  /* courses */

  .courseimg{
    clip-path: polygon(0% 0%, 5% 100%, 100% 100%, 95% 0%);
  }

  .taglio{
    position: absolute;
    right: 0;
  
    clip-path: polygon(0% 0%, 5% 100%, 100% 100%, 95% 0%);
    width: 70%;
    height: 100%;
  }

  .triangle{
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    left: -2%; 
    width: 8%; 
    height: 3em;
  }

  /* footer */

  .contacts{
    height: 60%;
  }

}

