@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
  --primary: #105C49;
  --secondary: #1DA483;
  --success: #f2ad5f;
  --danger: #c8717e;
}

h1,h4{
  margin-bottom: 0;
}

.bebas{
  font-family: 'Bebas Neue', sans-serif;
}

.hammer{
  font-family: 'Hammersmith One', sans-serif;;
}

/* --navbar-- */
.navbar-toggler-icon{
  background-image: url("./images/toggler.svg");
}

.navbar-toggler{
  border: 2px solid var(--success) ;
}

.navbar-collapse{
  flex-grow: 0;
}

/* --primo-- */

.totalwindow{
  height: 42vh;
  /*width: 100vw; */
}

.present{
  z-index: 2;
  height: 40vh;
  left: 2%;
}

.back{
  height: 35vh;
  right: 1%;
}

.ground{
  background-image: url("https://i.pinimg.com/originals/e6/35/92/e63592d336bde183bf464e18f4980f1f.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;

  opacity: 0.8;
}

/* secondo */

/* https://i.pinimg.com/236x/82/f5/56/82f5566e6e5fc3cd9dbab85482699960.jpg */
/* https://i.pinimg.com/236x/83/42/37/83423769fba69414d5192f8c9bff31a2.jpg */

/* https://i.pinimg.com/236x/a2/86/31/a286318fca6134cf467fff6838770996.jpg */
/* https://i.pinimg.com/236x/eb/3b/4a/eb3b4ab421ceda471eb9569fbe12240f.jpg */

.secondwind{
  height: 42vh;
}

.secondimg{
  left: 0%;
  height: 65%;
  z-index: 2;
}

.secondtext{
  right: 4%;
  height: 80%;
}

.perksimg{
  background-image: url("https://i.pinimg.com/236x/eb/3b/4a/eb3b4ab421ceda471eb9569fbe12240f.jpg");
  background-size: cover;
  background-position: center center;
  
  height: 100%;
}

.circle{
  position: absolute;

  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--success);
}

/* --terzo-- */

.leftcut{
  clip-path: polygon(0% 100%, 20% 0%, 100% 0%, 100% 100%);
}

.leftcut > h5{
  position: relative;
  right: -10px;
}

.rightcut{
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  text-align: center;
}

.rightcut > h5{
  position: relative;
  left: -10px;
}

/* --Terzo-- */

.quadro{
  height: 20vh;
}

.sfondo{
  background-size: cover;
  background-position: center center;

  opacity: 0.25;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* --Quarto-- */

.photo{
  background-size: cover;
  background-position: center center;

  height: 100%;
  width: 100%;
}

.d-md-none .carousel-indicators{
  margin-bottom: 0;
}

.topdown{
  top: 0;
}

.backo{
  background-image: url("https://i.pinimg.com/originals/ca/a2/8c/caa28c3b19efb35212a54724b83aa600.png");
  background-size: cover;
  background-position: center center;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.dealwindow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.digitwindow{
  background-color: var(--success);
  height: 8vh;
  overflow-y: hidden;
}

.digit{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary);
}

.carousel-control-prev-icon {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f2ad5f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
}
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f2ad5f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Prof */

.professor{
  background-size: cover;
  height: 20vh;
  width: 100%;
}

.exagon{
  height: 7vh;
  width: 7vh;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 2;
  top: 16vh;
}

.linea{
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  bottom: 3%;
}

/* Perks */

.dietro{
  background-image: url("https://i.pinimg.com/236x/01/e5/a0/01e5a078f041cb1f822187f179ccd1b9.jpg");
  background-size: cover;
  background-position: center 20%;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 400px){
  .quadro{
    height: 30vh;
  }
}

@media only screen and (min-width: 800px) {

  .totalwindow{
    height: 60vh;
    /*width: 100vw;*/ 
  }
  
  .present{
    z-index: 2;
    height: 40vh;
    left: 5%;
  }

  .back{
    height: 50vh;
    right: 5%;
  }

  /* --secondo-- */
  .secondwind{
    height: 60vh;
  }

  .secondimg{
    left: 5%;
    height: 65%;
    z-index: 2;
  }

  .secondtext{
    right: 5%;
    height: 80%;
  }

  /*--terzo-- */

  .quadro{
    height: 20vh;
  }
  
  /* --quinto-- */
  .dealwindow{
    height: 70vh;
  }

  .digitwindow{
    height: 20vh;
  }

  .digit{
    font-size: 1.8em;
  }

  /* --prof-- */

  .professor{
    height: 30vh;
  }

  .exagon{
    top: 24vh;
  }

}

